<div
  class="courses-list__item"
  [ngClass]="{ 'top-rated': course.topRated }"
  [appHighlight]="course.creationDate"
>
  <div class="courses-list__item_top flex">
    <h2 class="courses-list__item_title">
      {{ course.title | uppercase }}
      <span
        *ngIf="course.topRated"
        class="courses-list__item_icon material-icons"
        >star</span
      >
    </h2>
    <div class="courses-list__item_metabox flex">
      <div class="courses-list__item_meta">
        <span class="courses-list__item_meta-icon material-icons"
          >query_builder</span
        >
        {{ course.duration | time }}
      </div>
      <div class="courses-list__item_meta">
        <span class="courses-list__item_meta-icon material-icons"
          >calendar_today</span
        >
        {{ course.creationDate | date: "dd MMM yyyy" }}
      </div>
    </div>
  </div>
  <div class="courses-list__item_bottom flex">
    <div class="courses-list__item_description">
      {{ course.description }}
    </div>
    <div class="courses-list__item_buttonbox flex">
      <app-button
        class="courses-list__item_button jasmine-edit-button"
        type="secondary"
        size="small"
        text="Edit"
        icon="edit"
        (click)="editClick()"
      >
      </app-button>
      <app-button
        class="courses-list__item_button jasmine-delete-button"
        type="secondary"
        size="small"
        text="Delete"
        icon="delete"
        (click)="deleteClick()"
      >
      </app-button>
    </div>
  </div>
</div>
