.menu {
  display: flex;
  align-items: center;

  &__item {
    &:first-child {
      margin-right: 24px;
    }
  }

  select {
    color: white;
    background-color: transparent;
    margin-left: 24px;
    border: none;
  }
}
