<app-breadcrumbs [breadcrumbsItems]="breadcrumbsData"></app-breadcrumbs>
<div class="container">
  <app-courses-search
    (searchValueChange)="onSearch($event)"
  ></app-courses-search>
  <div class="courses-list__add flex">
    <app-button
      routerLink="/courses/new"
      type="secondary"
      text="Add course"
      icon="add_circle_outline"
    ></app-button>
  </div>
  <div class="courses-list" *ngIf="coursesLength; else not_found">
    <app-courses-item
      *ngFor="let course of courses | orderBy; trackBy: identify"
      [course]="course"
      (deleteEvent)="deleteCourse(course)"
    >
    </app-courses-item>
    <div class="courses-list__more">
      <a class="courses-list__more_link" (click)="loadMoreClick()">Load more</a>
    </div>
  </div>

  <ng-template #not_found>
    <div class="courses-list__not_found">
      There are no courses yet. Feel free to add new courses.
    </div>
  </ng-template>
</div>
