<div class="input-box" [ngClass]="[size]">
  <label for="email" class="input-label flex">
    <span class="input-label__title">
      {{ label }}:
      <span *ngIf="errorMessage" class="input-label__error">
        {{ errorMessage }}</span
      >
    </span>
    <span class="input-label__required" *ngIf="required">
      * {{ "BASE.REQUIRED" | translate }}
    </span>
  </label>
  <textarea
    *ngIf="type === 'textarea'; else input"
    [name]="name"
    [placeholder]="placeholder"
    [formControl]="control"
    class="input"
    [ngClass]="{ invalid: errorMessage }"
  ></textarea>
  <ng-template #input>
    <input
      [type]="type"
      [name]="name"
      [placeholder]="placeholder"
      [formControl]="control"
      class="input"
      [ngClass]="{ invalid: errorMessage }"
    />
  </ng-template>
</div>
