<div class="login flex" [formGroup]="loginForm">
  <div class="login__card">
    <h1 class="login__title">{{ "LOGIN_PAGE.TITLE" | translate }}</h1>
    <app-input
      [label]="'LOGIN_PAGE.LOGIN_LABEL' | translate"
      type="text"
      name="login"
      [required]="true"
      formControlName="login"
    ></app-input>
    <app-input
      [label]="'LOGIN_PAGE.PASSWORD_LABEL' | translate"
      type="password"
      name="password"
      [required]="true"
      formControlName="password"
    ></app-input>
    <div class="login__bottom flex">
      <a href="#" class="login__forgot-password">{{
        "LOGIN_PAGE.FORGOT_PASSWORD" | translate
      }}</a>
      <app-button
        class="login__submit"
        [text]="'LOGIN_PAGE.LOGIN_BUTTON' | translate"
        (click)="onLogin()"
      ></app-button>
    </div>
  </div>
</div>
