<div class="login flex">
  <div class="login__card">
    <h1 class="login__title">Login</h1>
    <div class="input-box">
      <label for="email" class="input-label flex">
        <span class="input-label__title">Email:</span>
        <span class="input-label__required">* required</span>
      </label>
      <input [(ngModel)]="emailValue" type="email" name="email" class="input" />
    </div>
    <div class="input-box">
      <label for="password" class="input-label flex">
        <span class="input-label__title">Password:</span>
        <span class="input-label__required">* required</span>
      </label>
      <input
        [(ngModel)]="passwordValue"
        type="password"
        name="password"
        class="input"
      />
    </div>
    <div class="login__bottom flex">
      <a href="#" class="login__forgot-password">Forgot password</a>
      <app-button
        class="login__submit"
        text="Login"
        (click)="onLogin()"
      ></app-button>
    </div>
  </div>
</div>
