<div class="login flex">
  <div class="login__card">
    <h1 class="login__title">Login</h1>
    <app-input
      label="Email"
      type="email"
      name="email"
      ngDefaultControl
      [required]="true"
      [(ngModel)]="emailValue"
    ></app-input>
    <app-input
      label="Password"
      type="password"
      name="password"
      ngDefaultControl
      [required]="true"
      [(ngModel)]="passwordValue"
    ></app-input>
    <div class="login__bottom flex">
      <a href="#" class="login__forgot-password">Forgot password</a>
      <app-button
        class="login__submit"
        text="Login"
        (click)="onLogin()"
      ></app-button>
    </div>
  </div>
</div>
