<div class="multiselect-input">
  <label class="multiselect-label flex">
    <span class="multiselect-label__title">
      {{ label }}:
      <span *ngIf="errorMessage" class="multiselect-label__error">
        {{ errorMessage }}</span
      >
    </span>
    <span class="multiselect-label__required" *ngIf="required">* required</span>
  </label>
  <ng-select
    [items]="list"
    bindLabel="name"
    [placeholder]="placeholder"
    [multiple]="true"
    [formControl]="control"
  >
  </ng-select>
</div>
