.multiselect-input {
  width: 50%;
  margin-bottom: 12px;
}
.multiselect-label {
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;

  &__title {
    line-height: 24px;
    font-size: 14px;
    font-weight: 500;
  }
  &__error {
    color: red;
  }
  &__required {
    line-height: 24px;
    font-size: 12px;
  }
}