<app-breadcrumbs [breadcrumbsItems]="breadcrumbsData"></app-breadcrumbs>
<div class="container">
  <div class="courses-edit" *ngIf="courseForm" [formGroup]="courseForm">
    <h1 class="courses-edit__title">{{ pageTitle }}</h1>
    <app-input
      label="Title"
      type="text"
      name="name"
      placeholder="Text input"
      [required]="true"
      [errorMessage]="getErrorMessage('name')"
      formControlName="name"
    ></app-input>

    <app-input
      label="Description"
      type="textarea"
      name="description"
      placeholder="Description"
      [required]="true"
      [errorMessage]="getErrorMessage('description')"
      formControlName="description"
    ></app-input>

    <app-date-input
      label="Date"
      placeholder="MM/DD/YYYY"
      [required]="true"
      [errorMessage]="getErrorMessage('date')"
      formControlName="date"
    ></app-date-input>

    <app-duration-input
      label="Duration"
      placeholder="minutes"
      [required]="true"
      [errorMessage]="getErrorMessage('length')"
      formControlName="length"
    ></app-duration-input>

    <app-multiselect-input
      label="Authors"
      type="text"
      size="medium"
      placeholder="Start typing"
      [required]="true"
      [list]="authorsList"
      [selectedList]="getCourseAuthors()"
      [errorMessage]="getErrorMessage('authors')"
      formControlName="authors"
    ></app-multiselect-input>

    <div class="courses-edit__button-box">
      <app-button
        class="courses-edit__button"
        text="Cancel"
        type="grey"
        routerLink="/courses"
      ></app-button>
      <app-button
        class="courses-edit__button"
        text="Save"
        [disabled]="courseForm.status === 'INVALID'"
        (click)="onSave()"
      ></app-button>
    </div>
  </div>
</div>
